body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #34475a;
  -webkit-app-region: drag;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar-btn {
  -webkit-app-region: no-drag;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.tg {
  height: 100vh;
  table-layout: fixed;
  width: 100%;
  background-color: black;
  background-image: url(./img/high-trading-logo-branco-op-5.png);
  background-repeat: space;
  background-blend-mode: luminosity;
}

.cvs {
  font-family: tahoma;
  font-size: 16px;
  color: #FFA500;
  font-weight: bold;
}

.pts {
  font-family: tahoma;
  font-size: 16px;
  color:#FF00FF;
  font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}

button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}